* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.square {
    border: 1px solid aqua;
    width: 64px;
    height: 64px;
}

.main {
display: flex;
flex-wrap: wrap;
justify-content: center;
align-content: stretch;
align-items:center;
border: 2px solid red;
position: fixed;
  inset: 0px;
  /* width: 12rem;
  height: 5rem */
  width: 645px;
  height: fit-content;
  margin: auto;
}